<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали поста</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="post-detail">
        <h3>{{ post.user.username }}</h3>
        <p>{{ post.description }}</p>
        {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="Post Image">
        {% endif %}
        {% if post.video %}
            <video controls src="{{ post.video.url }}"></video>
        {% endif %}
        <p>Лайков: {{ post.likes.count }}</p>
        <a href="{% url 'like-post' post.pk %}">Лайкнуть</a>
        <h3>Комментарии:</h3>
        <ul>
            {% for comment in post.comments.all %}
                <li>{{ comment.user.username }}: {{ comment.text }}</li>
            {% endfor %}
        </ul>
        <form method="post" action="{% url 'add-comment' post.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оставить комментарий</button>
        </form>
    </div>
</body>
</html>
